{
  "accident": "https://YOUR_PUBLIC_HOST_FOR_ACCIDENT",
  "vip": "https://YOUR_PUBLIC_HOST_FOR_VIP",
  "district": "https://YOUR_PUBLIC_HOST_FOR_DISTRICT",
  "cleaner": "https://YOUR_PUBLIC_HOST_FOR_CLEANER",
  "nss": "https://YOUR_PUBLIC_HOST_FOR_NSS"
}
